# Review of Python

This notebook will present a breif review of the following python topics

- Data Types
 - Numbers
 - Strings
 - Printing / formatting
 - Lists
 - Booleans 
 - Tuples
- Comparison Operators
- if, elif, else Statements
- for/while Loops
- range() and len()
- list comprehension
- functions
- lambda expressions
- map and filter
- methods

# Data Types
## Numbers

In python numbers can take on values of integers and floats. You can add, subtract, divide, or multiply two numbers numbers.

In [1]:
x = 1.0 + 1
type(x)

float

In [2]:
x = 1+1
type(x)

int

In [3]:
x = int(1.0) + 1
type(x)

int

In [4]:
2-1

1

In [5]:
x = 1/2
print(x)

0.5

In [6]:
type(x)

float

In [7]:
2*2

4

You can rais a quantity to a power using 
> **

In [8]:
2**2

4

In [9]:
2**0.5

1.4142135623730951

the remander can be computed usnig the modulus operator
>%

In [10]:
4%2

0

In [11]:
17%8

1

python follows order of operation. Good practice to use '()' to ensure correct order

In [12]:
2 +2 *3 +5

13

In [13]:
(2+2) * (3+5)

32

## Variable Assignment

> variable = value

variable names can't start with a numer
multi name variables use an underscore to seperate the names

In [14]:
x = 2
y = 3
z = x + y

In [15]:
z

5

In [18]:
z = 3

In [19]:
num_of_covid_cases = 0

## Strings

Strings can be represented using 
> '' or " " 

You can use double quotes to print single quotes

In [20]:
print('hello')

hello

In [21]:
print("hello")

hello

In [22]:
print("I can't say hello")

I can't say hello

We can also index a string

In [23]:
name = 'Matt'

In [24]:
name[0]

'M'

and slice a sting using 
> string[ start : end ]

, where end is not included

In [25]:
name[0:]

'Matt'

In [26]:
name[:3]

'Mat'

In [27]:
name[1:3]

'at'

## Printing and Formatting

Two printout types in Jupyter notebook

In [28]:
#Jupyter notebook output
name

'Matt'

In [29]:
#python output
print(name)

Matt

The 'format()' method can be used to fromat print statements.

In [30]:
first = 'Matt'
last = 'Posik'

print('I am {} of clan {}'.format(first,last))

I am Matt of clan Posik

The format method can be used to specify numer percision
- f is for floats
  -- YY.fXX, YY is number of digits, XX nubmer of decimals in the number
- d is for integers
  -- YYd, YY number of digits in the number

In [31]:
pi = 3.14159

In [32]:
print('pi is {}'.format(pi))

pi is 3.14159

In [33]:
print('pi is {0:3.2f} to {1:d} decimal places'.format(pi,2))

pi is 3.14 to 2 decimal places

In [34]:
print('pi is {0:05.2f} to {1:02d} decimal places'.format(pi,2))

pi is 03.14 to 02 decimal places

# Lists
 A list is a sequence of events. \
 It can be
 - be numbers, string, or characters.
 - indexed or sliced
 - added to using the 'append' method
 - type function returns the type of variables and objects

In [35]:
my_list = [1,2,3,4]

In [36]:
my_list[1:3]

[2, 3]

In [37]:
my_list[0] = 2

In [38]:
my_list

[2, 2, 3, 4]

In [39]:
my_list.append(5)

In [40]:
my_list

[2, 2, 3, 4, 5]

In [41]:
type(my_list)

list

We can use 'in' to see if a quantity is in a list. If so then it returns True, otherwise False.

In [42]:
'x' in [1,2,3]

False

In [43]:
'x' in ['x','y','z']

True

In [44]:
nest = [1,2,[4,5,['traget']]]

In [45]:
nest[2][2][0][0]

't'

# Boolean

Python had two booleans 'True' and 'False'

# Tuple
- sequence of elements
- can index and slice
- are **imutable** (can't be changed)

In [46]:
t = (1,2,3,4)

In [47]:
print(t)

(1, 2, 3, 4)

In [48]:
type(t)

tuple

In [49]:
t[1]

2

In [50]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

Unpacking a tuple:

In [84]:
my_tuple = (1,2)
#unpack it by:
a, b = my_tuple

#a and b now have the two tuple elements
print(a,b)

1 2

# Comparison Operators

Compare two quantities and returns True or False boolean

In [51]:
1 == 2

False

In [52]:
1 > 2

False

In [53]:
1 < 2

True

In [54]:
1 != 2

True

# Logic Operators

In [55]:
(1 > 2) and (2 > 4) #reccomend using ()

False

In [56]:
True or False

True

In [57]:
True and True

True

In [58]:
True and False

False

In [59]:
False and False

False

In [60]:
False and True

False

# If Statements

In [61]:
x =4

# prints first true instance
#first elif statement is printed
if(x == 3):
    print('x = 3')
elif(x > 5):  
    print('x > 5')
elif(x > 3):
    print('x > 3')
else:
    print('x < 3')

x > 3

# For and While Loops

In [62]:
seq = [1,2,3,4,5]

In [63]:
for i in seq:
    print('i = {}'.format(i))

i = 1
i = 2
i = 3
i = 4
i = 5

In [64]:
i = 0
while i < 5:
    print('i = {}'.format(i))
    i = i + 1

i = 0
i = 1
i = 2
i = 3
i = 4

## range and len Methods
We can use the range method for our while loop. The range method is a generator the iterates between a start and a stop.
> range(0,5)

in the above example \
start = 0 \
stop < 5

In [65]:
type(range(0,5))

range

Range is a type range, we can make it a list

In [66]:
my_new_list = list(range(0,5))
print(my_new_list)

[0, 1, 2, 3, 4]

In [67]:
type(my_new_list)

list

In [68]:
#for j in range(0,5):
for j in range(5):
    print('j = {}'.format(j))

j = 0
j = 1
j = 2
j = 3
j = 4

The len method returns the length of a list
> len(my_list)

In [69]:
len(my_new_list)

5

# Unpacking Tuples

We can have a list of tuples

In [70]:
x = [(1,2),(3,4),(5,6)]

In [71]:
x[0]

(1, 2)

In [72]:
x[0][0]

1

In [73]:
x[0][1]

2

In [74]:
for pair in x:
    print(pair)

(1, 2)
(3, 4)
(5, 6)

In [75]:
for (a,b) in x:
    print(a,b)

1 2
3 4
5 6

In [76]:
for a, b in x:
    print(a,b)

1 2
3 4
5 6

# Functions -- see function notebook

Functions are defined using 
> def my_func():

In [77]:
def my_func(name = 'Slim Shady'):
    ''' Takes a name as an argument and 
    prints it into a sentence'''
    print('Hi, my name is {}.'.format(name))

In [78]:
my_func(name = 'Matt')

Hi, my name is Matt.

In [79]:
my_func('Matt')

Hi, my name is Matt.

In [80]:
my_func()

Hi, my name is Slim Shady.

In [81]:
my_func #prints object

In [82]:
def square_num(num = 0):
    '''Takes a number and returns its square'''
    return num**2

In [83]:
square_num(3)

9

# Map Function

Maps a function to all elements of a sequence
> map(function, sequence)

In [ ]:
seq = [1,2,3,4]
map_seq = map(square_num,seq)

In [ ]:
type(map_seq)

In [ ]:
#convert it to a list
print(list(map_seq))

# Lambda Expression
Creates an anonymous function, which is typically one line.
> lambda input : output, sequence

> def square_num(num = 0):
      return num**2
      
> def square_num(num=0): reutrn num**2

> square_num(num): num**2

Use lambda expression in place of our function

In [ ]:
lambda num: num**2, seq

map the labda exression to all elements of seq

In [ ]:
map(lambda num: num**2, seq)

cast the map to a list

In [ ]:
list(map(lambda num: num**2, seq))

# Filter Function

Filters out elements from a sequence

In [ ]:
lambda num: (num**2 % 2) == 0,seq

In [ ]:
filter(lambda num: (num**2 % 2) == 0,seq)

In [ ]:
list(filter(lambda num: (num**2 % 2) != 0,seq))

# Methods

Methods are calls made off of objects

> s = 'a string'\
> s.a_string_method()

Pressing 'Tab' after an object in Jupyter notebook gives a list of available methods.

In [ ]:
s = 'This is a string'
s.lower()

In [ ]:
s.upper()

In [ ]:
email = 'posik@temple.edu'
print(email.split('@'))

In [ ]:
email_name = email.split('@')[0]
print(email_name)